<div class="span3">
    <div class="utopia-chart-legend">
        <div class="utopia-chart-icon">
            <img src="assets/img/icons2/coin.png">
        </div>
        <div class="utopia-chart-heading">19100</div>
        <div class="utopia-chart-desc">Yearly Savings</div>
    </div>
</div>

<div class="span3">
    <div class="utopia-chart-legend">
        <div class="utopia-chart-icon">
            <img src="assets/img/icons2/money_bag.png">
        </div>
        <div class="utopia-chart-heading">219100</div>
        <div class="utopia-chart-desc">Lifetime Savings</div>
    </div>
</div>

<div class="span3">
    <div class="utopia-chart-legend">
        <div class="utopia-chart-icon">
            <img src="assets/img/icons2/certificate.png">
        </div>
        <div class="utopia-chart-heading">55</div>
        <div class="utopia-chart-desc">Rank</div>
    </div>
</div>

<div class="span3">
    <div class="utopia-chart-legend">
        <div class="utopia-chart-icon">
            <img src="assets/img/icons2/user.png">
        </div>
        <div class="utopia-chart-heading">1089</div>
        <div class="utopia-chart-desc">Total Users</div>
    </div>
</div>
