<div class="span2 sidebar-container">

    <div class="sidebar">

        <div class="navbar sidebar-toggle">
            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

            </div>
        </div>

        <div class="nav-collapse leftmenu">

            <ul>
                <li class="current"><a class="dashboard smronju" href="javascript:void(0)" title="Dashboard"><span>Dashboard</span></a></li>
                <li><a class="list" href="recommendations.html" title="Recommendations"><span>Recommendations</span></a></li>
                <li><a class="charts" href="charts.html" title="Charts"><span>Charts</span></a></li>
                <li><a class="widgets" href="rank.html" title="Rank"><span>Rank</span></a></li>
                <li><a class="averages" href="averages.html" title="Averages"><span>Averages</span></a></li>
                <li><a class="form" href="data.html" title="Data"><span>Data</span></a></li>
            </ul>

        </div>

    </div>
</div>
