<div class="row-fluid">

    <div class="span12">

        <div class="row-fluid">

            <div class="span9">
                <div class="row-fluid">

                    <div class="span12">

                        <section class="utopia-widget">
                            <div class="utopia-widget-title">
                                <img src="assets/img/icons/paragraph_justify.png" class="utopia-widget-icon">
                                <span>static table</span>
                            </div>

                            <div class="utopia-widget-content">

                                <table class="table table-bordered">

                                    <colgroup>
                                        <col class="utopia-col-0">
                                        <col class="utopia-col-1">
                                        <col class="utopia-col-0">
                                        <col class="utopia-col-1">
                                        <col class="utopia-col-0">
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th><input class="utopia-check-all" type="checkbox"></th>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>CSS grade</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Other browsers</td>
                                        <td>All others</td>
                                        <td>-</td>
                                        <td>U</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Trident</td>
                                        <td>AOL browser (AOL desktop)</td>
                                        <td>Win XP</td>
                                        <td>A</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Gecko</td>
                                        <td>Camino 1.0</td>
                                        <td>OSX.2+</td>
                                        <td>A</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Gecko</td>
                                        <td>Camino 1.5</td>
                                        <td>OSX.3+</td>
                                        <td>A</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Misc</td>
                                        <td>Dillo 0.8</td>
                                        <td>Embedded devices</td>
                                        <td>X</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Gecko</td>
                                        <td>Epiphany 2.20</td>
                                        <td>Gnome</td>
                                        <td>A</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Gecko</td>
                                        <td>Firefox 1.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>A</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Gecko</td>
                                        <td>Firefox 1.5</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>A</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Gecko</td>
                                        <td>Firefox 2.0</td>
                                        <td>Win 98+ / OSX.2+</td>
                                        <td>A</td>
                                    </tr>

                                    <tr>
                                        <td><input class="chkbox" type="checkbox" name="checkbox[]"></td>
                                        <td>Gecko</td>
                                        <td>Firefox 3.0</td>
                                        <td>Win 2k+ / OSX.3+</td>
                                        <td>A</td>
                                    </tr>

                                    </tbody>
                                </table>

                                <div class="utopia-table-action">
                                    <div class="btn-group">
                                        <a href="#" class="btn"><i class="icon-cog"></i> Actions</a>
                                        <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class="icon-eye-open"></i> View</a></li>
                                            <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                                            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </section>

                    </div>

                </div>

            </div><!-- Mid panel -->

        </div>

    </div>

</div>
