<div class="navbar-content">
  <!-- start: SIDEBAR -->
  <div class="main-navigation navbar-collapse collapse">
    <!-- start: MAIN MENU TOGGLER BUTTON -->
    <div class="navigation-toggler">
      <i class="clip-chevron-left"></i>
      <i class="clip-chevron-right"></i>
    </div>
    <!-- end: MAIN MENU TOGGLER BUTTON -->
    <!-- start: MAIN NAVIGATION MENU -->
    <ul class="main-navigation-menu">
      <li class="active open">
        <a href="search"><i class="clip-home-3"></i>
          <span class="title"> OptionCast </span><span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="search"><i class="clip-search"></i>
          <span class="title">Data Search</span><span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="/option-radar"><i class="clip-radio-checked"></i>
          <span class="title">Option Radar</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="high-option-volume"><i class="clip-arrow-up"></i>
          <span class="title"> High Volume </span><span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="high-open-interest"><i class="clip-grid-6"></i>
          <span class="title"> High Open Interest </span><span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-dashboard"></i>
          <span class="title"> Option Sentiment </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="overpriced-straddle">
              <span class="title">Overpriced Straddle</span>
            </a>
          </li>
          <li>
            <a href="underpriced-straddle">
              <span class="title">Underpriced Straddle</span>
            </a>
          </li>
          <li>
            <a href="overpriced-implied-volatility">
              <span class="title">Overpriced Volatility</span>
            </a>
          </li>
          <li>
            <a href="underpriced-implied-volatility">
              <span class="title">Underpriced Volatility</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="clip-stats"></i>
          <span class="title"> Volume Change </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="call-volume-change">
              <span class="title">Call Volume Change</span>
            </a>
          </li>
          <li>
            <a href="put-volume-change">
              <span class="title">Put Volume Change</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-bar-chart-o"></i>
          <span class="title">Open Interest Change</span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="call-open-interest">
              <span class="title">Call Open Interest</span>
            </a>
          </li>
          <li>
            <a href="put-open-interest">
              <span class="title">Put Open Interest</span>
            </a>
          </li>
          <li>
            <a href="call-open-interest-strike">
              <span class="title">Call Open Interest by Strike</span>
            </a>
          </li>
          <li>
            <a href="put-open-interest-strike">
              <span class="title">Put Open Interest by Strike</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="clip-expand"></i>
          <span class="title"> Option Ratios </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="put-call-ratio">
              <span class="title">Put/Call Ratio</span>
            </a>
          </li>
          <li>
            <a href="call-put-ratio">
              <span class="title">Call/Put Ratio</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="clip-health"></i>
          <span class="title"> Implied Volatility </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="increasing-implied-volatility">
              <span class="title">Increasing Volatility</span>
            </a>
          </li>
          <li>
            <a href="decreasing-implied-volatility">
              <span class="title">Decreasing Volatility</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="clip-rating-2"></i>
          <span class="title"> Straddle Prices</span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="increasing-straddle">
              <span class="title">Increasing Straddle</span>
            </a>
          </li>
          <li>
            <a href="decreasing-straddle">
              <span class="title">Decreasing Straddle</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="faq"><i class="fa fa-question"></i>
          <span class="title">F.A.Q.</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="myaccount"><i class="clip-user-2"></i>
          <span class="title">My Account</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="http://www.optioncast.com/stock-options-blog"><i class="clip-bubble-4"></i>
          <span class="title">Blog</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="broker-reviews"><i class="clip-bars"></i>
          <span class="title">Broker Reviews</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="trading-deals"><i class="fa fa-dollar"></i>
          <span class="title">Deals</span>
          <span class="selected"></span>
        </a>
      </li>
    </ul>
    <!-- end: MAIN NAVIGATION MENU -->
  </div>
  <!-- end: SIDEBAR -->

</div>


