<%=render partial: "pricing"%>













<div class="main-content">
  <!-- start: PANEL CONFIGURATION MODAL FORM -->
  <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>
          <h4 class="modal-title">Settings</h4>
        </div>
        <div class="modal-body">
          Select Expiry:
          <br><br>
          Select Days to View:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- end: SPANEL CONFIGURATION MODAL FORM -->
  <div class="container" style="min-height: 760px;">
    <!-- start: PAGE HEADER -->
    <div class="row">
      <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
          <li>
            <i class="clip-home-3"></i>
            <a href="<%=root_url%>">
              Home
            </a>
          </li>
          <li class="active">
            Dashboard
          </li>
          <li class="search-box">
            <form class="sidebar-search">
              <div class="form-group">
                <input type="text" placeholder="Start Searching..." data-default="130">
                <button class="submit">
                  <i class="clip-search-3"></i>
                </button>
              </div>
            </form>
          </li>
        </ol>
        <div class="page-header">
          <h1>OptionCast <small>sign up form </small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
      </div>
    </div>
    <!-- end: PAGE HEADER -->
    <!-- start: PAGE CONTENT -->
    <div class="panel-body">
      <div id="pricing_table_example2" class="row">
        <div class="col-sm-4 col-xs-12 col-sm-offset-2">
          <div class="pricing-table">
            <div class="top_upgrate">
              <h2>Free</h2>
              <p><span>$0</span>/month</p>
              <div class="upgrate_button">
                <a href="free_sign_up" class="btn btn-teal btn-block">
                  Sign Up
                </a>
                <p>-</p>
              </div>
            </div>
            <ul>
              <li>
                <i class="clip-checkmark-2"></i>
                5 Days of Volatility Charts
              </li>
              <li>
                <i class="clip-checkmark-2"></i>
                Daily Volume Change
              </li>
              <li>
                <i class="clip-checkmark-2"></i>
                Daily Open Interest Change
              </li>
              <li>
                <i class="clip-checkmark-2"></i>
                Daily Volatility Change
              </li>
              <li>
                <i class="clip-checkmark-2"></i>
                Daily Option Ratio
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="pricing-table featured">
            <div class="top_upgrate">
              <h2>Pro</h2>
              <p><span>$25</span>/month</p>
              <div class="upgrate_button">
                <a href="pro-sign-up" class="btn btn-teal btn-block">
                  Sign Up
                </a>
                <p>Free 14 Day Trial</p>
              </div>
            </div>
            <ul>
              <li>
                <i class="clip-checkmark-2"></i>
                All Volatility Charts
              </li>
              <li>
                <i class="clip-checkmark-2"></i>
                Daily Volume Change
              </li>
              <li><i class="clip-checkmark-2"></i>
                Daily Open Interest Change
              </li>
              <li><i class="clip-checkmark-2"></i>
                Daily Volatility Change
              </li>
              <li><i class="clip-checkmark-2"></i>
                Daily Option Ratio
              </li>
              <li><i class="clip-checkmark-2"></i>
                1 Year Historical Volatility Charts
              </li>
              <li><i class="clip-checkmark-2"></i>
                90 Days Average Straddle Chart
              </li>
              <li><i class="clip-checkmark-2"></i>
                Open Interest Charts
              </li>
              <li><i class="clip-checkmark-2"></i>
                Option Sentiment
              </li>
              <li><i class="clip-checkmark-2"></i>
                Option Percentiles
              </li>
              <li><i class="clip-checkmark-2"></i>
                High/Low Option Prices
              </li>
              <li><i class="clip-checkmark-2"></i>
                Historical Earnings Results
              </li>
              <li><i class="clip-checkmark-2"></i>
                Pre/Post Earnings Spread Prices
              </li>
              <li><i class="clip-checkmark-2"></i>
                Top 10 Option Radar
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: PRICING TABLE 2 PANEL -->
  </div>