<div class="main-content">
  <% #title "New Questionnaire" %>

  <script type="text/javascript">
      $(window).load(function(){
          $('#question_modal').modal('show');
      });
  </script>

  <div class="modal fade" id="question_modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel"><%= @question_text %></h3>
          </div>

          <form accept-charset="UTF-8" method= "post" action= "/questionnaires" >
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
            
            <div class="form-group">    

              <%=@answer_html %>
  
            </div>
            <input type="submit" class="btn btn-block btn-success" style="width: 97%;margin: 1.5%" name='next' value='Next'>
          </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Skip</button>
        </div>

      </div>
    </div>
  </div>

</div>