<div class="navbar-content">
  <!-- start: SIDEBAR -->
  <!-- start: SIDEBAR -->
  <div class="main-navigation navbar-collapse collapse">
    <!-- start: MAIN MENU TOGGLER BUTTON -->
    <div class="navigation-toggler">
      <i class="clip-chevron-left"></i>
      <i class="clip-chevron-right"></i>
    </div>
    <!-- start: MAIN NAVIGATION MENU -->
    <ul class="main-navigation-menu">
      <li class="active open">
        <a href="search"><i class="clip-home-3"></i>
          <span class="title"> OptionCast </span><span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="clip-checkmark-circle"></i>
          <span class="title"> Option Stats </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="implied-volatility-change">
              <span class="title"> Implied Volatility Change </span>
            </a>
          </li>
          <li>
            <a href="straddle-change">
              <span class="title"> Straddle Change </span>
            </a>
          </li>
          <li>
            <a href="open-interest-change">
              <span class="title"> Open Interest </span>
            </a>
          </li>
          <li>
            <a href="option-volume-change">
              <span class="title"> Option Volume </span>
            </a>
          </li>
          <li>
            <a href="put-call-ratios">
              <span class="title"> Put Call Ratios </span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="fa fa-dashboard"></i>
          <span class="title"> Option Sentiment </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="implied-volaility-sentiment">
              <span class="title"> Implied Volatility </span>
            </a>
          </li>
          <li>
            <a href="straddle-sentiment">
              <span class="title"> Straddle Prices </span>
            </a>
          </li>
          <li>
            <a href="implied-volatility-percentiles">
              <span class="title"> IV Percentiles </span>
            </a>
          </li>
          <li>
            <a href="straddle-percentiles">
              <span class="title"> Straddle Percentiles </span>
            </a>
          </li>
          <li>
            <a href="implied-volatility-average">
              <span class="title"> IV Average </span>
            </a>
          </li>
          <li>
            <a href="straddle-average">
              <span class="title"> Straddle Average </span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="clip-grid-6"></i>
          <span class="title"> Open Interest </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="open-interest-strike">
              <span class="title">Open Interest by Strike</span>
            </a>
          </li>
          <li>
            <a href="open-interest-chart">
              <span class="title">Open Interest Chart</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="clip-stats"></i>
          <span class="title"> Option Charts </span><i class="icon-arrow"></i>
          <span class="selected"></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="implied-volatility-chart">
              <span class="title">Volatility Chart</span>
            </a>
          </li>
          <li>
            <a href="straddle-chart">
              <span class="title">Straddle Chart</span>
            </a>
          </li>
          <li>
            <a href="option-montage">
              <span class="title">Option Montage</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
      </li><li>
      <a href="javascript:void(0)"><i class="fa fa-bar-chart-o"></i>
        <span class="title">Option Averages</span><i class="icon-arrow"></i>
        <span class="selected"></span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="straddle-averages">
            <span class="title">Straddle Avg Chart</span>
          </a>
        </li>
      </ul>
    </li>
      <li>
      </li><li>
      <a href="real-time-option-trades"><i class="clip-transfer"></i>
        <span class="title"> Option Trades </span><span class="selected"></span>
      </a>
    </li>
      <li>
        <a href="earnings-dates"><i class="clip-calendar-3"></i>
          <span class="title"> Earnings Dates </span><span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="earnings-results"><i class="fa fa-check"></i>
          <span class="title"> Earnings Results </span><span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="option-radar"><i class="clip-radio-checked"></i>
          <span class="title">Option Radar</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="faq"><i class="clip-question"></i>
          <span class="title"> F.A.Q. </span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="myaccount"><i class="clip-user-2"></i>
          <span class="title">My Account</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="www.optioncast.com/stock-options-blog"><i class="clip-bubble-4"></i>
          <span class="title">Blog</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="broker-reviews"><i class="clip-bars"></i>
          <span class="title">Broker Reviews</span>
          <span class="selected"></span>
        </a>
      </li>
      <li>
        <a href="trading-deals"><i class="fa fa-dollar"></i>
          <span class="title">Trading Deals</span>
          <span class="selected"></span>
        </a>
      </li>
    </ul>
    <!-- end: MAIN NAVIGATION MENU -->
  </div>
  <!-- end: SIDEBAR -->
</div>